<header>

    <div class="header-content">
        <div class="header-text">
            <h1 class="mat-h1">My projects</h1>
            <p>Scroll through my projects to see what i have done. All projects have their links, wether it is a download, the source or other important information.</p>
        </div>
        <div class="header-buttons">
            <a mat-flat-button color="primary" href="https://github.com/MrStickyPiston" target="_blank">
                <mat-icon>code</mat-icon>
                Github profile
            </a>
        </div>
    </div>

</header>