<header>

    <div class="header-content">
        <div class="header-text">
            <h1 class="mat-h1">My projects</h1>
            <p>Scroll through my projects to see what i have done. All projects have their links, wether it is a download, the source or other important information.</p>
        </div>
        <div class="header-buttons">
            <a mat-flat-button color="primary" (click)="scrollTo('projects-mount')" id="projects-mount">
                <mat-icon>expand_more</mat-icon>
                My projects
            </a>
        </div>
    </div>

</header>