<footer class="page-content">

  <div class="footer-content content-block">
    <div class="author-info">
      <p><b>About</b></p>
      <p>Copyright © 2024 <a href="https://github.com/MrStickyPiston" rel="nofollow">MrStickyPiston</a></p>
      <p><a href="mailto:mr.sticky.piston@gmail.com">mr.sticky.piston&#64;gmail.com</a></p>
    </div>

    <div class="spacer"></div>

    <div>
      <p><b>Technical</b></p>
      <p><a href="sitemap.xml">Sitemap</a></p>
      <p><a href="image_sitemap.xml">Image sitemap</a></p>
    </div>
  </div>

</footer>
