<header>

    <div class="header-content">
        <div class="header-text">
            <h1 class="mat-h1">Contact</h1>
            <p>Interested in one of my projects or want to hire me? Contact me using the form below! I will not share your data to any third party's.</p>
        </div>
        <div class="header-buttons">
            <a mat-flat-button color="primary" (click)="scrollTo('contact-mount')" id="contact-mount">
                <mat-icon>expand_more</mat-icon>
                Contact
            </a>
        </div>
    </div>

</header>