// .header-text {
//     display: flex;
//     flex-wrap: nowrap;
//     justify-content: space-evenly;
//     flex-direction: column;
// }

.function {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.func-spacer {
    visibility: hidden;
}

.header-text :first-child {
    margin: 0;
}