<header>

    <div class="header-content">
        <div class="header-text">
            <h1 class="mat-h1">{{data.title}}</h1>
            <p>{{data.text}}</p>
        </div>
        <div class="buttons-box">
            @for (button of data.buttons; track $index) {

                @if (button.scroll) {
                    <button mat-flat-button color="primary" (click)="scrollTo(button.scroll)">
                        {{button.text}}
    
                        @if (button.icon) {
                        <mat-icon>{{button.icon}}</mat-icon>
                        }
                    </button>
                } @else {
                    <a mat-flat-button color="primary" [href]="button.url" target="_blank">
                        {{button.text}}
    
                        @if (button.icon) {
                        <mat-icon>{{button.icon}}</mat-icon>
                        }
                    </a>
                }
                
            }
        </div>
    </div>

</header>