<div class="mob-buttons">
    <button mat-mini-fab color="secondary" (click)="back()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <div class="spacer"></div>

    <span>{{selected_id+1}}/{{items.length}}</span>

    <div class="spacer"></div>

    <button mat-mini-fab color="secondary" (click)="forward()">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</div>

@for (id of ids; track $index) {

    @if (selected_id == id) {
        <mat-card [@pulseOnEnter]>
            <mat-card-header>
                <mat-card-title>{{items[id].name}}</mat-card-title>
                <!-- <mat-card-subtitle>subtitle</mat-card-subtitle> -->
            </mat-card-header>
            <mat-card-content>
                {{items[id].description}}
            </mat-card-content>

        </mat-card>
    }
}