<mat-sidenav-container class="sidenav-container" [class.dark-theme]="dark_mode">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (page of navpages; track $index) {
        <a mat-list-item [routerLink]="page.route">{{page.text}}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>{{app_name}}</span>

      @if (!(isHandset$ | async)) {
        <div class="spacer"></div>
        @for (page of navpages; track $index) {
          <a mat-button 
            [routerLink]="page.route" 
          >
            {{page.text}}
          </a>
        }
      }
    </mat-toolbar>

    <div class="site-main">
      <div class="site-content">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="spacer"></div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
