<header>

  <div class="header-content">
    <div class="header-text home-header">
      <h2 class="mat-h2">If you are looking for a</h2>

      @for (function of functions; track $index) {
        @if (functionId == functions.indexOf(function)) {
          <h1 class="mat-h1 function" [@slideInLeftOnEnter] [@fadeInOnEnter] [@slideOutRightOnLeave]
              [@fadeOutOnLeave]>{{ function }}</h1>
        }
      }

      <h1 class="func-spacer">{{ function }}</h1>

      <h2 class="mat-h2">Look no further - you found an amazing one!</h2>
    </div>
    <div class="header-buttons">
      <a color="primary" mat-flat-button routerLink="about">
        <mat-icon>read_more</mat-icon>
        About me
      </a>
      <a color="primary" mat-flat-button routerLink="projects">
        <mat-icon>list_alt</mat-icon>
        Projects
      </a>
      <a color="primary" href="https://github.com/MrStickyPiston" mat-flat-button target="_blank">
        <mat-icon>code</mat-icon>
        Github
      </a>
    </div>
  </div>

</header>
