.function {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.func-spacer {
    visibility: hidden;
}

.header-text :first-child {
    margin: 0;
}

header {
    height: calc(100vh - 174px);
}