<app-home-header></app-home-header>

<div class="page-content">

    <div class="content-block">

        <h2>Top projects</h2>

        <mat-card class="section">
            <mat-card-content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a nisi in est fermentum rhoncus non
                sed
                sem. Aenean scelerisque nisi eget risus tristique, eget lacinia enim vulputate. Suspendisse potenti.
                Nullam
                condimentum quam vel nunc auctor mollis. Pellentesque blandit libero sit amet erat fermentum, vel
                tincidunt
                lorem volutpat. Curabitur tempus vel enim efficitur tristique. Morbi turpis ligula, faucibus in luctus
                ut,
                pretium iaculis arcu. Aliquam erat volutpat. Aenean ut tortor lacinia, ultricies libero blandit,
                scelerisque
                est. Etiam ex sem, interdum nec fermentum et, fringilla euismod velit.

                In varius posuere porta. Phasellus ut facilisis velit. Proin maximus faucibus mi, in placerat leo
                iaculis
                sed. Quisque elit augue, elementum eu sodales nec, auctor ac purus. Nullam pulvinar augue convallis,
                tristique dui a, vulputate arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos. Suspendisse volutpat tincidunt metus in pellentesque. Morbi pellentesque orci at
                turpis
                porttitor rutrum. Mauris rhoncus felis sed dictum viverra. Maecenas faucibus volutpat bibendum.
            </mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button routerLink="projects">
                    <mat-icon>chevron_right</mat-icon>
                    More projects
                </a>
            </mat-card-actions>
        </mat-card>

        <app-home-projects class="section"></app-home-projects>

        <h2>What people said about me</h2>

        <app-testinominals class="section"></app-testinominals>
    
    </div>
</div>