@use '@angular/material' as mat;

@import url('./theme.scss');
@import url('./page_header.scss');

html,
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-block {
    max-width: 70%;
    margin-bottom: 30px;
}

@media(max-width: 560px) {
    .page-content {
        padding: 0px 10px;

        .content-block {
            max-width: none;
        }
    }
}

html {
    scroll-behavior: smooth;
}

a+a {
    margin-left: 10px;
}

.spacer {
    flex: 1 1 auto;
}

@media (min-width: 600px) {
    .m-only {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .d-only {
        display: none !important;
    }
}

// Projects

.wide {
    width: 100%;
}

.projects-grid {
    display: grid;
    gap: 16px;
}

.project-card {

    .project-image {
        height: 25vh;
        max-height: 400px;
        object-fit: cover;
        align-self: center;
        margin-bottom: 16px;
    }

    .project-subtitle {
        margin-bottom: 16px;
    }

}

@media (min-width: 1200px) {
    .projects-grid {
        grid-template-columns: auto auto auto;
    }

    .project-image {
        margin-top: 16px;
    }
}